<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
        <link rel='stylesheet' id='hljstheme-css'  href='{{ baseUrl }}/components/highlightjs/styles/darkula.css' type='text/css' media='all' />

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='{{ baseUrl }}/components/highlightjs/highlight.pack.min.js'></script>

        <script>
            $(function() {
                // Little tweak for <h1>
                $("main > h1").wrap('<div class="page-header" />');
            });
        </script>

        <script type="text/javascript">
            (function($, window) {
                var init_fn_flag = false;
                var init_fn = (function() {
                    if (init_fn_flag)
                        return;
                    init_fn_flag = true;
                    hljs.configure({"tabReplace":"    "});
                    $('pre code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                });
                $(document).ready(init_fn);
                $(window).on("load", init_fn);
            })(jQuery, window);
        </script>

    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ title|default('The title') }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ baseUrl }}/">Home</a></li>
                    <li><a href="{{ baseUrl }}/users.html">For users</a></li>
                    <li><a href="{{ baseUrl }}/package_developers.html">For package developers</a></li>
                    <li><a href="{{ baseUrl }}/framework_developers.html">For framework developers</a></li>
                    <!--<li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->

    </nav>

    <div class="container">
        {%  if jumbotron.title %}
        <script>
            $(function() {
                var jumboHeight = $('.jumbotron').outerHeight();
                function parallax(){
                    var scrolled = $(window).scrollTop();
                    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
                }

                $(window).scroll(function(e){
                    parallax();
                });
                parallax();

            });
        </script>
        {%  if jumbotron.image %}<div class="bg" style="background-image: url('images/{{ jumbotron.image }}')"></div>{% endif %}
        <div class="jumbotron" {% if jumbotron.fontcolor %}style="color: {{ jumbotron.fontcolor }}"{% endif %}>
            <h1>{{ jumbotron.title }}</h1>
            {%  if jumbotron.subtitle %}<p class="lead">{{ jumbotron.subtitle }}</p>{% endif %}
        </div>
        {% endif %}

        {{ content|raw }}
    </div>


    </body>
</html>
